
<footer>

    <div class="footer-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2  style="padding-bottom: 20px;">Head Office</h2>
                    <h6>ATC Educationl Institution <br />No-47, Vniger Street, Opposite to Joyalukkas, <br /> Kanchipuram - 631501<br />Phone: 044-47210626<br>Mobile: +919444760920, <br />Email ID: atckpm@gmail.com <br /> Bus Stop: Kanchipuram Busstnd/Taluk office</h6>
                </div>
                <div class="col-md-4 ">
                    <table border="0">
                        <tbody>
                            <tr>
                                <td class="social-popout"><a class="facebook" href="#" target="_blank" title="Facebook"></a></td>
                                <td class="social-popout"><a class="twitter" href="#" target="_blank" title="Twitter"></a></td>
                                <td class="social-popout"><a class="googleplus" href="#" target="_blank" title="Google Plus"></a></td>
                                <td class="social-popout"><a class="youtube" href="#" target="_blank" title="Youtube"></a></td>
                            </tr>
                            <tr>
                                <td class="social-popout"><a class="linkedin" href="#" target="_blank" title="Linkedin"></a></td>
                                <td class="social-popout"><a class="pinterest" href="#" target="_blank" title="Pinterest"></a></td>
                                <td class="social-popout"><a class="reddit" href="#" target="_blank" title="Reddit"></a></td>
                                <td class="social-popout"><a class="stumbleupon" href="#" target="_blank" title="Stumbleupon"></a></td>
                            </tr>
                        </tbody>
                    </table>
                 </div>
            </div>
        </div>
    </div>

    <div class="terms-conditions">
        <h5>Copyright © 2018. ATC Educational Institution All Rights Reserved.</h5>
    </div>
</footer>