    <header>
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 running">
                        <marquee direction="left" behavior="scroll" onmouseover="this.stop();" onmouseout="this.start();">
                            <p>
                                <strong>ADMISSION IN PROGRESS:</strong> &nbsp; »UPSC Prelims Cum Main 2016-2017 &nbsp;&nbsp;&nbsp; »UPSC Optional PAPERS &nbsp;&nbsp;&nbsp; »TNPSC Group 1 &amp; Group 2 Mains &nbsp;&nbsp;&nbsp; »TNPSC Group 1 &amp; Group 2 Prelims &nbsp;&nbsp;&nbsp; »More than 10 Years of Experience &nbsp;&nbsp;&nbsp;» Free IAS, UPSC &amp; TNPSC exams Seminars, Webinars, Workshops &nbsp;&nbsp;&nbsp;» Free 3 Days Demo Class &nbsp;&nbsp;&nbsp;» <strong> <a href="#" target="_blank">3 Year IAS Coaching in Chennai - For College Students</a> </strong> &nbsp;&nbsp;&nbsp;» Free &amp; Paid IAS / UPSC / TNPSC Study Materials &nbsp;&nbsp;&nbsp;» <strong> Weekend Classes also available. </strong>
                            </p>
                        </marquee>
                    </div>
                </div>
            </div> <div class="clearfix"></div>
        </div>
        <div class="main-menu" data-sticky-nav="1" data-sticky-type="smart">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="col-md-6">
                        <div class="Academay-name"><img src="~/images/atclogo.jpg" class="atclogo" /><h3>ATC EDUCATIONAL INSTITUTION</h3> <h5> Center For Champions</h5></div>
                       
                    </div>
                    <div class="col-md-2 login" style="display:none">
                        <table border="0">
                            <tbody>
                                <tr>
                                    <td class="studentlogin"><a href="/studentlogin">Student Login</a></td>
                                </tr>
                                <tr>
                                    <td class="facultylogin"><a href="#">Faculty Login</a></td>
                                </tr>
                                <tr>
                                    <td class="adminregister"><a href="/account/register">Register Student</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-2 logout-section">
                        <table border="0">
                            <tbody>
                                <tr>
                                    <td class="username"></td>
                                </tr>
                                <tr>
                                    <td class="userlogout"><a href="#">Logout</a></td>
                                </tr>
                                <tr>
                                    <td class="adminregister"><a href="/account/register">Register Student</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4 animated bounceInRight">
                        <table border="0">
                            <tbody>
                                <tr>
                                    <td class="email"> Email: atckpm[at]gmail[dot]com </td>
                                </tr>
                                <tr>
                                    <td class="phone"> Phone: 044 4721 0626</td>
                                </tr>
                             </tbody>
                       </table>
                    </div>
                </nav>
            </div>
        </div>
        <div class="full-menu">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="fa fa-bars"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent1">
                        <ul class="navbar-nav">
                            <li class="navbar-item active">
                                <a href="#" class="nav-link">Home</a>
                            </li>
                            <li class="navbar-item">
                                <a href="#" class="nav-link">About Us</a>
                            </li>
                            <li class="navbar-item">
                                <a href="#" class="nav-link">Courses</a>
                            </li>
                            <li class="navbar-item">
                                <a href="#" class="nav-link">Galery </a>
                            </li>
                            <li class="navbar-item">
                                <a href="#" class="nav-link">Admission</a>
                            </li>
                            <li class="navbar-item active">
                                <a href="#" class="nav-link">Achievements</a>
                            </li>
                            <li class="navbar-item">
                                <a href="#" class="nav-link">Materials</a>
                            </li>
                            <li class="navbar-item">
                                <a href="#" class="nav-link">Test Schedule</a>
                            </li>
                            <li class="navbar-item">
                                <a href="#" class="nav-link">Contact Us</a>
                            </li>
                            <li class="navbar-item">
                                <a href="#" class="nav-link">Success Story</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
<body>
    <div class="waitingpopup"></div>
</body>