

@section TitleSection
{
    ATC Educational Institution || Home
}
@section StyleSection
{
    @*@Styles.Render("~/Content/css")*@
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
@*<link href="~/Content/home/bootstrap.css" rel="stylesheet" />*@
<link href="~/Content/owl.carousel.min.css" rel="stylesheet" />
<link href="~/Content/styles.css" rel="stylesheet" />
<link href="~/Content/home/flexslider.css" rel="stylesheet" />
<link href="~/Content/home/gallery.css" rel="stylesheet" />
<link href="~/Content/home.css" rel="stylesheet" />
<link href="~/Content/home/font-awesome.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="//fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i&amp;subset=latin-ext" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
}
@section MainSection
{
    @{
        Html.RenderPartial("~/Views/Common/_Menu.cshtml");
    }
<div class="banner-main">
    <div class="banner">
        <div class="agile_dot_info one">
            <!--header-->
            <!--//header-->
            <div class="w3_banner_info">
                <div class="container">
                    <div class="flexslider-info">
                        <section class="slider">
                            <div class="flexslider">
                                <ul class="slides">
                                    <li>
                                        <div class="w3_banner_info_grid">
                                            <h2>Career starts with good education</h2>
                                            <p>
                                                Etiam vitae augue odio. Ut laoreet ipsum vel ultrices viverra. Donec nisl dolor, mollis vel libero id,
                                                tempor cursus lectus. Vestibulum eu ligula et pharetra efficitur. Maecenas eleifend.
                                            </p>
                                            <ul>
                                               
                                                <li><a href="/contact" class="w3l_contact">Contact Us</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="w3_banner_info_grid">
                                            <h3>Education Needs Complete Solution</h3>
                                            <p>
                                                Etiam vitae augue odio. Ut laoreet ipsum vel ultrices viverra. Donec nisl dolor, mollis vel libero id,
                                                tempor cursus lectus. Vestibulum eu ligula et pharetra efficitur. Maecenas eleifend.
                                            </p>
                                            <ul>
                                                
                                                <li><a href="/contact" class="w3l_contact">Contact Us</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="w3_banner_info_grid">
                                            <h3>Open Minds. Creating Future.</h3>
                                            <p>
                                                Etiam vitae augue odio. Ut laoreet ipsum vel ultrices viverra. Donec nisl dolor, mollis vel libero id,
                                                tempor cursus lectus. Vestibulum eu ligula et pharetra efficitur. Maecenas eleifend.
                                            </p>
                                            <ul>
                                                
                                                <li><a href="/contact" class="w3l_contact">Contact Us</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //banner -->
<!-- team -->
<!-- About us -->
<div class="about-3">
    <h3 class="w3l-titles">Welcome</h3>
    <div class="container">
        <div class="d-flex">
            <div class="about1">
                <h4>Etiam vitae augue odio</h4>
                <p class="details">Nullam pulvinar vulputate aliquam. Pellentesque venenatis ut mi ac porta. Praesent interdum nibh libero, id malesuada libero aliquet quis. Donec at odio nibh.</p>
                <ul class="about-list">
                    <li>
                        <span class="fa fa-newspaper-o" aria-hidden="true"></span>
                        <div class="in-block">
                            <h5>Creating Future</h5>
                            <p>Suspendisse maximus leo vel facilisis porta. Aliquam posuere mollis auctor. Nunc eget massa eleifend, finibus felis eu, tincidunt eros.</p>
                        </div>
                    </li>
                    <li>
                        <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
                        <div class="in-block">
                            <h5>Knowledge</h5>
                            <p>Suspendisse maximus leo vel facilisis porta. Aliquam posuere mollis auctor. Nunc eget massa eleifend, finibus felis eu, tincidunt eros.</p>
                        </div>
                    </li>
                    <li>
                        <span class="fa fa-area-chart" aria-hidden="true"></span>
                        <div class="in-block">
                            <h5>Inspiration</h5>
                            <p>Suspendisse maximus leo vel facilisis porta. Aliquam posuere mollis auctor. Nunc eget massa eleifend, finibus felis eu, tincidunt eros.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="about2">

            </div>
        </div>

    </div>
</div>
<div class="stats">
    <div class="wthree_stat">
        <div class="container">
            <div class="wthree_stat_right">
                <ul>
                    <li>
                        <div class="wthree_stat_right1">
                            <i class="fa fa-users" aria-hidden="true"></i>
                            <h4>Teachers</h4>
                            <p class="counter">60</p>
                        </div>
                    </li>
                    <li>
                        <div class="wthree_stat_right1">
                            <i class="fa fa-trophy" aria-hidden="true"></i>
                            <h4>Members</h4>
                            <p class="counter">130</p>
                        </div>
                    </li>
                    <li>
                        <div class="wthree_stat_right1">
                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                            <h4>Courses</h4>
                            <p class="counter">40</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<div class="testimonials-main">
    <div class="testimonials-banner">
        <div class="agile_dot_info one">
            <div class="w3_banner_info">
                <div class="container">
                    <div class="flexslider-info">
                        <section class="slider">
                            <div class="flexslider">
                                
                                <ul class="slides">
                                    <li>
                                        <div class="w3_banner_info_grid">
                                           
                                            <p>
                                                I would like to thank sir for supporting me throughout this exam. Sir used to provide me materials from various sources which helped me write a comprehensive answer in my mains. He also gave me emotional support which I needed badly after having failed in the exam thrice. I thank the entire Vetrii IAS Academy team for their full hearted support for all the subjects during my prelims, mains and interviews preparation.
                                             </p>
                                            <strong>Mr. M. Prapan IAS (AIR-21, 2016-17)</strong>
                                        </div>
                                        <div class="testimonial-image">
                                            <img src="./images/successstory/4.jpg" alt="t4">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="w3_banner_info_grid">
                                          
                                            <p>
                                                I would like to thank sir for supporting me throughout this exam. Sir used to provide me materials from various sources which helped me write a comprehensive answer in my mains. He also gave me emotional support which I needed badly after having failed in the exam thrice. I thank the entire Vetrii IAS Academy team for their full hearted support for all the subjects during my prelims, mains and interviews preparation.
                                            </p>
                                            <strong>Mr. M. Prapan IAS (AIR-21, 2016-17)</strong>
                                        </div>
                                        <div class="testimonial-image">
                                            <img src="./images/successstory/4.jpg" alt="t4">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="w3_banner_info_grid">
                                           
                                            <p>
                                                I would like to thank sir for supporting me throughout this exam. Sir used to provide me materials from various sources which helped me write a comprehensive answer in my mains. He also gave me emotional support which I needed badly after having failed in the exam thrice. I thank the entire Vetrii IAS Academy team for their full hearted support for all the subjects during my prelims, mains and interviews preparation.
                                            </p>
                                            <strong>Mr. M. Prapan IAS (AIR-21, 2016-17)</strong>
                                        </div>
                                        <div class="testimonial-image">
                                            <img src="./images/successstory/4.jpg" alt="t4">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    @{
        Html.RenderPartial("~/Views/Common/_Footer.cshtml");
    }
}

@section ScriptsSection
{
@*<script src="~/scripts/jquery.min.js"></script>*@
<script src="~/scripts/home/jquery-2.1.4.min.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>
<script src="~/scripts/owl.carousel.min.js"></script>
<script src="~/scripts/custom.js"></script>
<script src="~/scripts/home.js"></script>
<script src="~/scripts/home/counterup.min.js"></script>
<script src="~/scripts/home/easing.js"></script>
<script src="~/scripts/home/jquery.flexslider.js"></script>
<script src="~/scripts/home/main.js"></script>
<script src="~/scripts/home/move-top.js"></script>
<script src="~/scripts/home/responsiveslides.min.js"></script>
<script src="~/scripts/home/SmoothScroll.min.js"></script>
<script src="~/scripts/home/waypoints.min.js"></script>
}