@section TitleSection
{
     ATC Educational Institution || Achivements
}
@section StyleSection
{
    @*@Styles.Render("~/Content/css")*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/styles.css" rel="stylesheet" />
    <link href="~/Content/achivements.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}
@section MainSection
{
    @{
        Html.RenderPartial("~/Views/Common/_Menu.cshtml");
    }
    <div id="Achivements-main">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <ul class="Navigation">
                    <li><div class="UPSCCSE">UPSC - CSE</div></li>
                    <li><div class="GROUPIEXAM">TNPSC Group - I Exam </div></li>
                    <li><div class="GROUPIIEXAM">TNPSC Group II Exam (Interview post)</div></li>
                </ul>
            </div>
            <div id="fh5co-board" class="col-lg-8 col-md-8 col-sm-8" data-columns>
                <div class="toper-category">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="upschead" style="background-color:rgb(9, 53, 114);color:#fff;padding:1px;">
                                <center>
                                    <h4 style="font-size:25px;">IAS TOPPERS</h4>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="photos-section">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <img src="./images/img_avatar2.png" title="M.Prathap CSE AIR - 21" alt="M.Prathap CSE AIR - 21" class="img002" width="160px" height="160px">
                            <button class="button005">
                                <div class="button005head">
                                    D. Dhamu
                                </div>
                                AIR CSE - 27 (2016-17)
                            </button>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <img src="./images/img_avatar2.png" title="M.Prathap CSE AIR - 21" alt="M.Prathap CSE AIR - 21" class="img002" width="160px" height="160px">
                            <button class="button005">
                                <div class="button005head">
                                    D. Dhamu
                                </div>
                                AIR CSE - 27 (2016-17)
                            </button>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <img src="./images/img_avatar2.png" title="M.Prathap CSE AIR - 21" alt="M.Prathap CSE AIR - 21" class="img002" width="160px" height="160px">
                            <button class="button005">
                                <div class="button005head">
                                    D. Dhamu
                                </div>
                                AIR CSE - 27 (2016-17)
                            </button>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <img src="./images/img_avatar2.png" title="M.Prathap CSE AIR - 21" alt="M.Prathap CSE AIR - 21" class="img002" width="160px" height="160px">
                            <button class="button005">
                                <div class="button005head">
                                    D. Dhamu
                                </div>
                                AIR CSE - 27 (2016-17)
                            </button>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <img src="./images/img_avatar2.png" title="M.Prathap CSE AIR - 21" alt="M.Prathap CSE AIR - 21" class="img002" width="160px" height="160px">
                            <button class="button005">
                                <div class="button005head">
                                    D. Arun
                                </div>
                                AIR CSE - 155 (2016-17)
                            </button>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <img src="./images/img_avatar2.png" title="M.Prathap CSE AIR - 21" alt="M.Prathap CSE AIR - 21" class="img002" width="160px" height="160px">
                            <button class="button005">
                                <div class="button005head">
                                    D. Arun
                                </div>
                                AIR CSE - 155 (2016-17)
                            </button>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <img src="./images/img_avatar2.png" title="M.Prathap CSE AIR - 21" alt="M.Prathap CSE AIR - 21" class="img002" width="160px" height="160px">
                            <button class="button005">
                                <div class="button005head">
                                    D. Arun
                                </div>
                                AIR CSE - 155 (2016-17)
                            </button>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <img src="./images/img_avatar2.png" title="M.Prathap CSE AIR - 21" alt="M.Prathap CSE AIR - 21" class="img002" width="160px" height="160px">
                            <button class="button005">
                                <div class="button005head">
                                    D. Arun
                                </div>
                                AIR CSE - 155 (2016-17)
                            </button>
                        </div>
                    </div>
                 </div>
             </div>
         </div>
     </div>
     @{
        Html.RenderPartial("~/Views/Common/_Footer.cshtml");
     }
     }
     @section ScriptsSection
     {
            <script src="~/scripts/jquery.min.js"></script>
            <script src="~/scripts/bootstrap.min.js"></script>
            <script src="~/scripts/owl.carousel.min.js"></script>
            <script src="~/scripts/custom.js"></script>
      }
