

@section TitleSection
{
    ATC Educational Institution || Success Story
}
@section StyleSection
{
    @*@Styles.Render("~/Content/css")*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/styles.css" rel="stylesheet" />
    <link href="~/Content/successstory.css" rel="stylesheet" />
    <link href="~/Content/galery/animate.css" rel="stylesheet" />
    <link href="~/Content/galery/icomoon.css" rel="stylesheet" />
    <link href="~/Content/galery/magnific-popup.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/achivements.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}
@section MainSection
{
    @{
        Html.RenderPartial("~/Views/Common/_Menu.cshtml");
    }
    <div id="success-segments">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2">
                <ul class="Navigation">
                    <li><div class="Album">ALBUM</div></li>
                    <li><div class="Testimonials">TESTIMONIALS</div></li>
                    <li><div class="Statistics">STATISTICS</div></li>
                    <li><div class="Achievements">ACHIEVEMENTS</div></li>
                </ul>
            </div>
            <div id="fh5co-board" class="col-lg-10 col-md-10 col-sm-10" data-columns>
                <div id="album-section" >
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="item">
                                <div class="animate-box">
                                    <a href="images/img_avatar2.png" class="image-popup fh5co-board-img" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, eos?"><img src="images/img_avatar2.png" alt="Free HTML5 Bootstrap template"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="item">
                                <div class="animate-box">
                                    <a href="images/img_avatar2.png" class="image-popup fh5co-board-img" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, eos?"><img src="images/img_avatar2.png" alt="Free HTML5 Bootstrap template"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="item">
                                <div class="animate-box">
                                    <a href="images/img_avatar2.png" class="image-popup fh5co-board-img"><img src="images/img_avatar2.png" alt="Free HTML5 Bootstrap template"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="item">
                                <div class="animate-box">
                                    <a href="images/img_avatar2.png" class="image-popup fh5co-board-img"><img src="images/img_avatar2.png" alt="Free HTML5 Bootstrap template"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="item">
                                <div class="animate-box">
                                    <a href="images/img_avatar2.png" class="image-popup fh5co-board-img"><img src="images/img_avatar2.png" alt="Free HTML5 Bootstrap template"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="item">
                                <div class="animate-box">
                                    <a href="images/img_avatar2.png" class="image-popup fh5co-board-img"><img src="images/img_avatar2.png" alt="Free HTML5 Bootstrap template"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="item">
                                <div class="animate-box">
                                    <a href="images/img_avatar2.png" class="image-popup fh5co-board-img"><img src="images/img_avatar2.png" alt="Free HTML5 Bootstrap template"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="item">
                                <div class="animate-box">
                                    <a href="images/img_avatar2.png" class="image-popup fh5co-board-img"><img src="images/img_avatar2.png" alt="Free HTML5 Bootstrap template"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="item">
                                <div class="animate-box">
                                    <a href="images/img_avatar2.png" class="image-popup fh5co-board-img"><img src="images/img_avatar2.png" alt="Free HTML5 Bootstrap template"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="testimonial-section" style="display:none">
                    <div class="testimonials-container section-container section-container-image-bg" style="position: relative; z-index: 0; background: none;">
                        <div class="col-sm-12 testimonials section-description">
                            <h2>Our Testimonials</h2>
                            <p class="medium-paragraph">Take a look below to learn what our clients are saying about us:</p>
                        </div>
                        <div class="testimonial-list">
                            <div role="tabpanel">
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade" id="tab1">
                                        <div class="testimonial-image">
                                            <img src="./images/successstory/1.jpg" alt="t1">
                                        </div>
                                        <div class="testimonial-text">
                                            <p>
                                                "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                                                Lorem ipsum dolor sit amet, consectetur..."<br>
                                                <a href="https://azmind.com/demo/bootstrap-testimonial-slider/layout-1/index.html#">Lorem Ipsum, dolor.co.uk</a>
                                            </p>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab2">
                                        <div class="testimonial-image">
                                            <img src="./images/successstory/2.jpg" alt="t2">
                                        </div>
                                        <div class="testimonial-text">
                                            <p>
                                                "Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
                                                ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
                                                lobortis nisl ut aliquip ex ea commodo consequat..."<br>
                                                <a href="https://azmind.com/demo/bootstrap-testimonial-slider/layout-1/index.html#">Minim Veniam, nostrud.com</a>
                                            </p>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="tab3">
                                        <div class="testimonial-image">
                                            <img src="./images/successstory/3.jpg" alt="t3">
                                        </div>
                                        <div class="testimonial-text">
                                            <p>
                                                "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                                                Lorem ipsum dolor sit amet, consectetur..."<br>
                                                <a href="https://azmind.com/demo/bootstrap-testimonial-slider/layout-1/index.html#">Lorem Ipsum, dolor.co.uk</a>
                                            </p>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade active in" id="tab4">
                                        <div class="testimonial-image">
                                            <img src="./images/successstory/4.jpg" alt="t4">
                                        </div>
                                        <div class="testimonial-text">
                                            <p>
                                                "Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
                                                ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
                                                lobortis nisl ut aliquip ex ea commodo consequat..."<br>
                                                <a href="https://azmind.com/demo/bootstrap-testimonial-slider/layout-1/index.html#">Minim Veniam, nostrud.com</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab" aria-expanded="false"></a>
                                    </li>
                                    <li role="presentation" class="">
                                        <a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab" aria-expanded="false"></a>
                                    </li>
                                    <li role="presentation" class="">
                                        <a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab" aria-expanded="false"></a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab" aria-expanded="true"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 634px; width: 100%; z-index: -999998; position: absolute;"><img src="./images/successstory/1(1).jpg" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1349px; height: 758.813px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -62.4063px;"></div>
                </div>
                <div id="statistics-section" style="display:none">
                    <div class="toper-category">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="upschead" style="background-color:rgb(9, 53, 114);color:#fff;padding:1px;">
                                    <center>
                                        <h4 style="font-size:25px;">IAS TOPPERS</h4>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="photos-section">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <img src="./images/img_avatar2.png" title="M.Prathap CSE AIR - 21" alt="M.Prathap CSE AIR - 21" class="img002" width="160px" height="160px">
                                <button class="button005">
                                    <div class="button005head">
                                        D. Dhamu
                                    </div>
                                    AIR CSE - 27 (2016-17)
                                </button>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <img src="./images/img_avatar2.png" title="M.Prathap CSE AIR - 21" alt="M.Prathap CSE AIR - 21" class="img002" width="160px" height="160px">
                                <button class="button005">
                                    <div class="button005head">
                                        D. Dhamu
                                    </div>
                                    AIR CSE - 27 (2016-17)
                                </button>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <img src="./images/img_avatar2.png" title="M.Prathap CSE AIR - 21" alt="M.Prathap CSE AIR - 21" class="img002" width="160px" height="160px">
                                <button class="button005">
                                    <div class="button005head">
                                        D. Dhamu
                                    </div>
                                    AIR CSE - 27 (2016-17)
                                </button>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <img src="./images/img_avatar2.png" title="M.Prathap CSE AIR - 21" alt="M.Prathap CSE AIR - 21" class="img002" width="160px" height="160px">
                                <button class="button005">
                                    <div class="button005head">
                                        D. Dhamu
                                    </div>
                                    AIR CSE - 27 (2016-17)
                                </button>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <img src="./images/img_avatar2.png" title="M.Prathap CSE AIR - 21" alt="M.Prathap CSE AIR - 21" class="img002" width="160px" height="160px">
                                <button class="button005">
                                    <div class="button005head">
                                        D. Arun
                                    </div>
                                    AIR CSE - 155 (2016-17)
                                </button>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <img src="./images/img_avatar2.png" title="M.Prathap CSE AIR - 21" alt="M.Prathap CSE AIR - 21" class="img002" width="160px" height="160px">
                                <button class="button005">
                                    <div class="button005head">
                                        D. Arun
                                    </div>
                                    AIR CSE - 155 (2016-17)
                                </button>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <img src="./images/img_avatar2.png" title="M.Prathap CSE AIR - 21" alt="M.Prathap CSE AIR - 21" class="img002" width="160px" height="160px">
                                <button class="button005">
                                    <div class="button005head">
                                        D. Arun
                                    </div>
                                    AIR CSE - 155 (2016-17)
                                </button>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <img src="./images/img_avatar2.png" title="M.Prathap CSE AIR - 21" alt="M.Prathap CSE AIR - 21" class="img002" width="160px" height="160px">
                                <button class="button005">
                                    <div class="button005head">
                                        D. Arun
                                    </div>
                                    AIR CSE - 155 (2016-17)
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @{
        Html.RenderPartial("~/Views/Common/_Footer.cshtml");
    }
}

@section ScriptsSection
{
   <script src="~/scripts/jquery.min.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>
<script src="~/scripts/owl.carousel.min.js"></script>
<script src="~/scripts/custom.js"></script>
<script src="~/scripts/galery/jquery.magnific-popup.min.js"></script>
<script src="~/scripts/galery/jquery.waypoints.min.js"></script>
<script src="~/scripts/galery/main.js"></script>
<script src="~/scripts/jquery.backstretch.min.js"></script>
<script src="~/scripts/successstory.js"></script>

}