@section TitleSection
{
    ATC Educational Institution || Student Login
}
@section StyleSection
{
    @*@Styles.Render("~/Content/css")*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/login.css" rel="stylesheet" />
    <style>

        .waitingpopup {
            display:    none;
            position:   fixed;
            z-index:    1000;
            top:        0;
            left:       0;
            height:     100%;
            width:      100%;
            background: rgba( 255, 255, 255, .8 ) 
                        url('../images/waitingpopup.svg') 
                        50% 50% 
                        no-repeat;
        }

        /* When the body has the loading class, we turn
           the scrollbar off with overflow:hidden */
        body.loading .waitingpopup {
            overflow: hidden;   
        }

        /* Anytime the body has the loading class, our
           modal element will be visible */
        body.loading .waitingpopup {
            display: block;
        }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}
@section MainSection
{
    <div class="waitingpopup">

    </div>
   <div id="" class="">

    <form class="modal-content">
        <div class="imgcontainer">

            <img src="/images/img_avatar2.png" alt="Avatar" class="avatar">
        </div>

        <div class="container">
            <div class="validationmessage">
                Invalid Username and Password
            </div>
            <div class="validationerrormessage">
                Please enter the correct Username and Password
            </div>
            <div class="dberrormessage">
                !Error occured while fetching data from Data Base
            </div>
            <input id="Email" type="text" placeholder="Enter Username" name="uname" required>
            <input id="Password" type="password" placeholder="Enter Password" name="psw" required>

            <div id="logincheck">Login</div>
            <input id="Remember" type="checkbox"> Remember me
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>
      
</div>
}
@section ScriptsSection
{
    <script src="~/scripts/jquery.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/owl.carousel.min.js"></script>
    <script src="~/scripts/custom.js"></script>
    <script src="~/scripts/login.js"></script>
}